body {
    margin: 0;
    padding: 0;
    font-family: Verdana; 
    display: flex;
    align-items: center;
    height: 100vh;
    background: black;
    }

#player {
            display: none;
        }
        .toggle-btn {
            position: absolute;
            font-size: 116px;
            padding: 10px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            z-index: 1;
        }
p{
    font-size: 18px;
    line-height: 15.5px;
    background-image:  url(marie.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-clip: text;
   -webkit-text-fill-color: rgba(255,255,255,0.1);
    transition: .9s;
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}


