body {
    margin: 0;
    padding: 10;
    font-family: Arial; 
    display: flex;
    align-items: center;
    height: 100vh;
    background: #262626;
    }
p{
    font-size: 15px;
    line-height: 14.5px;
    background-image:  url(marie.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-clip: text;
   -webkit-text-fill-color: rgba(255,255,255,0);
}
@keyframes rotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
